.table{
    display: flex;
    gap:25px;
    z-index: 2;
    padding: 32px 24px;
    background: #FFFFFF;
    width: 100vw;
    flex-direction: column;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-weight: 800;
    font-size: 24px;
}

.switcher {
    display: flex;
    align-items: center;
}

.switcherBtnLeft {
    height: 40px;
    width: 48px;
    padding: 11px 15px;
    border: 1.5px #EFF0F0 solid;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px 0 0 8px;

}
.switcherBtnRight {
    height: 40px;
    width: 48px;
    padding: 11px 15px;
    border: 1.5px #EFF0F0 solid;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0 8px 8px 0;

}
.switcherBtn:focus {
    outline: none;
}

.icon {
    width: 100%;
    height: auto;
}

.active {
    background-color: #F0F1F2;
}

.switcherBtnLeft .icon,
.switcherBtnRight .icon {
    filter: grayscale(100%) opacity(0.5);
}

.switcherBtnLeft.active .icon,
.switcherBtnRight.active .icon {
    filter: grayscale(0%) opacity(1);
}

.tableContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;
    width:100%;
    overflow-x: scroll ;
}

.descriptionRow{
    grid-column-gap: 80px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-columns: repeat(7, 1fr);
}
.descriptionItem{
    color:#8A8A8E;
    font-weight: 600;
    font-size: 13px;
    width:158px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.descriptionItemMain{
    width:280px;
    display: flex;
    font-weight: 600;
    font-size: 13px;
    color:#8A8A8E;

}
.tableContainer::-webkit-scrollbar {
    width:5px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: #EFF0F0;
    border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.tableBordered{
    border: 1.5px solid #EFF0F0;
    display: grid;
    border-radius: 16px;
    padding: 24px;
    gap:32px;
    grid-template-columns: repeat(1, 1fr);

}

.tableRow {
    grid-column-gap: 80px;
    justify-items: center;
    align-items: center;
    padding: 24px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-columns: repeat(7, 1fr);
    font-weight: 800;
    font-size: 16px;

}
.tableItem{
    width:158px;
}
.tableItemMain{
    width:240px;
    display: flex;
    gap:11px;
    align-items: center;

}
.avatar{
    width: 40px;
    height: 40px;
}
.buy{
    height: 40px;
    width: 121px;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #E9F9E4;
    color: #52BC20;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.buy:hover{
    background-color: #52BC20;
    color: #E9F9E4;

}
.tableLine{
    border: 1.5px solid #EFF0F0;

}
.green{
    color:#52BC20;
}